/* CSS da pagina que a bruna fez */
/* .teste{
  width: 200px;
  height: 200px;
  border: 2px solid red;
} */

.equipe h1{
  font-size: 70px;
  color: #05071d;
  width: 95%;
  height: auto;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.fotos{
  height: 230px;
  width: 220px;
  margin: auto;
  border-radius: 180px;
  gap: 10px;
  margin-top: 30px;
}

#container{
  margin: auto;
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-bottom: 80px;
  font-size: 12px;
  /* border: 2px solid red; */
}

.botao {
  width: 100px;
  height: 40px;
  margin-top: 10px;
  background-color: #05071d;
  color: white;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s linear;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
}

.botao:hover {
  background-color: #03F4DC;
  cursor: pointer;
  zoom: 120%;
}

.historia{
  font-size: 40px;
  color: #03F4DC;
  width: auto;
  height: auto;
  margin: 50px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.main-container{
  margin: 0%;
  background-color: #05071d;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 12px;
}

.texto{
    color: white;
    width: 95%;
    height: auto;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

a{
  text-decoration: none;
}