/* CSS da barra de navegação e também conteudo da pagina HOME */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }
  body{
    min-height: 100%;
    /* border: 2px solid green; */
  }
  footer{
    /* border: 2px solid red; */
    bottom: 0;
    width: 100%;
  }
  .bg-azul{
    background-color: #05071d;
  }
  
  .nav-link{
    text-decoration: none;
    color: white;
  }
  
  .logo{
    width: 75px;
    height: 75px;;
  }
  /* footer{
    border: 2px solid greenyellow;
  }
  footer .row{
    border: 2px solid greenyellow;
  } */
  
  
  .imagem-carousel{
    width: 1000px;
    height: 500px;
  }
  
  #area-carousel{
    width: 1000px;
    height: 500px;
    margin: auto;
   
  }
  
  .fixarRodape{
    bottom: 0;
    /* border: 2px solid green; */
    width: 100%;
  }