*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .bg-azul{
    background-color: #05071d;
  }
  
  .nav-link{
    text-decoration: none;
    color: white;
  }
  
  .logo{
    width: 75px;
    height: 75px;;
  }
  /* footer{
    border: 2px solid greenyellow;
  }
  footer .row{
    border: 2px solid greenyellow;
  } */
  
  
  .imagem-carousel{
    width: 1000px;
    height: 500px;
  }
  
  #area-carousel{
    width: 1000px;
    height: 500px;
    margin: auto;
   
  }